@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<style>
	#container {
		display: flex;
		flex-direction: row;
		flex: 0 auto;
	}

	form {
		background-color: lightgray;
		padding: 20px;
	}

	.checkbox-list {
		display: flex;
		flex-direction: column;
	}

	.price-constraints {
		display: flex;
		flex-direction: column;
	}

	.ingredients-list {
		display: flex;
		flex-direction: column;
	}
</style>

<div id="container">
	<div id="results">
		<h1>Menu</h1>

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is CretaceousCombo)
			{
				<h2>Combos</h2>
				break;
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is CretaceousCombo)
			{
				<div class="menu-item">
					<h4>@item.ToString()</h4>
					<p>Price: $@item.Price.ToString("0.00")</p>
					<p>Calories: @item.Calories</p>
					<p>
						<text>Ingredients: </text>
						@for (int i = 0; i < item.Ingredients.Count; i++)
						{
							@item.Ingredients[i].ToString()

							if (i != item.Ingredients.Count - 1)
							{
								<text>, </text>
							}
						}
					</p>
				</div>
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is Entree)
			{
				<h2>Entrees</h2>
				break;
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is Entree)
			{
				<div class="menu-item">
					<h4>@item.ToString()</h4>
					<p>Price: $@item.Price.ToString("0.00")</p>
					<p>Calories: @item.Calories</p>
					<p>
						<text>Ingredients: </text>
						@for (int i = 0; i < item.Ingredients.Count; i++)
						{
							@item.Ingredients[i].ToString()

							if (i != item.Ingredients.Count - 1)
							{
								<text>, </text>
							}
						}
					</p>
				</div>
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is Side)
			{
				<h2>Sides</h2>
				break;
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is Side)
			{
				<div class="menu-item">
					<h4>@item.ToString()</h4>
					<p>Price: $@item.Price.ToString("0.00")</p>
					<p>Calories: @item.Calories</p>
					<p>
						<text>Ingredients: </text>
						@for (int i = 0; i < item.Ingredients.Count; i++)
						{
							@item.Ingredients[i].ToString()

							if (i != item.Ingredients.Count - 1)
							{
								<text>, </text>
							}
						}
					</p>
				</div>
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is Drink)
			{
				<h2>Drinks</h2>
				break;
			}
		}

		@foreach (IMenuItem item in Model.MenuItems)
		{
			if (item is Drink)
			{
				<div class="menu-item">
					<h4>@item.ToString()</h4>
					<p>Price: $@item.Price.ToString("0.00")</p>
					<p>Calories: @item.Calories</p>
					<p>
						<text>Ingredients: </text>
						@for (int i = 0; i < item.Ingredients.Count; i++)
						{
							@item.Ingredients[i].ToString()

							if (i != item.Ingredients.Count - 1)
							{
								<text>, </text>
							}
						}
					</p>
				</div>
			}
		}
	</div>

	<div id="searchbox">
		<form method="post">
			<input type="text" name="search" id="search" value="@Model.search" />
			<input type="submit" name="searchAndFilter" id="searchAndFilter" value="Search & Filter" />

			<h3>Menu Category</h3>
			<div class="checkbox-list">
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
					Combo
				</label>
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
					Entree
				</label>
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
					Side
				</label>
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
					Drink
				</label>
			</div>

			<h3>Price</h3>
			<div class="price-constraints">
				<label>
					Min:
					<input type="number" id="minimum-price" min="0" max="50" step="0.01" name="minimumPrice" value="@Model.minimumPrice" />
				</label>
				<label>
					Max:
					<input type="number" id="maximum-price" min="0" max="50" step="0.01" name="maximumPrice" value="@Model.maximumPrice" />
				</label>
			</div>

			<h3>Excluding Ingredients</h3>
			<div class="ingredients-list">
				@foreach (string ingredient in Menu.PossibleIngredients)
				{
					<label>
						<input type="checkbox" class="exclude-ingredient" name="excludeIngredient" value="@ingredient.ToString()" checked="@Model.excludeIngredient.Contains(ingredient.ToString())" />
						@ingredient.ToString()
					</label>
				}
			</div>
		</form>
	</div>
</div>
