@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>
@for (int i = 0; i < Model.Menu.AvailableCombos.Count; i++)
{
	<div class="menu-item">
		<h4>@Model.Menu.AvailableCombos[i].ToString()</h4>
		<p>Price: $@Model.Menu.AvailableCombos[i].Price.ToString("0.00")</p>
		<p>Calories: @Model.Menu.AvailableCombos[i].Calories</p>
		<p>
			<text>Ingredients: </text>
			@for (int j = 0; j < Model.Menu.AvailableCombos[i].Ingredients.Count; j++)
			{
				@Model.Menu.AvailableCombos[i].Ingredients[j].ToString()

				if (j != Model.Menu.AvailableCombos[i].Ingredients.Count - 1)
				{
					<text>, </text>
				}
			}
		</p>
	</div>
}

<h2>Entrees</h2>
@for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
{
	<div class="menu-item">
		<h4>@Model.Menu.AvailableEntrees[i].ToString()</h4>
		<p>Price: $@Model.Menu.AvailableEntrees[i].Price.ToString("0.00")</p>
		<p>Calories: @Model.Menu.AvailableEntrees[i].Calories</p>
		<p>
			<text>Ingredients: </text>
			@for (int j = 0; j < Model.Menu.AvailableEntrees[i].Ingredients.Count; j++)
			{
				@Model.Menu.AvailableEntrees[i].Ingredients[j].ToString()

				if (j != Model.Menu.AvailableEntrees[i].Ingredients.Count - 1)
				{
					<text>, </text>
				}
			}
		</p>
	</div>
}

<h2>Sides</h2>
@for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
{
	<div class="menu-item">
		<h4>@Model.Menu.AvailableSides[i].ToString()</h4>
		<p>Price: $@Model.Menu.AvailableSides[i].Price.ToString("0.00")</p>
		<p>Calories: @Model.Menu.AvailableSides[i].Calories</p>
		<p>
			<text>Ingredients: </text>
			@for (int j = 0; j < Model.Menu.AvailableSides[i].Ingredients.Count; j++)
			{
				@Model.Menu.AvailableSides[i].Ingredients[j].ToString()

				if (j != Model.Menu.AvailableSides[i].Ingredients.Count - 1)
				{
					<text>, </text>
				}
			}
		</p>
	</div>
}

<h2>Drinks</h2>
@for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
{
	<div class="menu-item">
		<h4>@Model.Menu.AvailableDrinks[i].ToString()</h4>
		<p>Price: $@Model.Menu.AvailableDrinks[i].Price.ToString("0.00")</p>
		<p>Calories: @Model.Menu.AvailableDrinks[i].Calories</p>
		<p>
			<text>Ingredients: </text>
			@for (int j = 0; j < Model.Menu.AvailableDrinks[i].Ingredients.Count; j++)
			{
				@Model.Menu.AvailableDrinks[i].Ingredients[j].ToString()

				if (j != Model.Menu.AvailableDrinks[i].Ingredients.Count - 1)
				{
					<text>, </text>
				}
			}
		</p>
	</div>
}
