@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<style>
	#container {
		display: flex;
		flex-direction: row;
	}

	#results {
		padding-right: 150px;
	}

	form {
		background-color: lightgray;
		padding: 20px;
	}

	.checkbox-list {
		display: flex;
		flex-direction: column;
	}

	.price-constraints {
		display: flex;
		flex-direction: column;
	}

	.ingredients-list {
		display: flex;
		flex-direction: column;
	}
</style>

<div id="container">
	<div id="results">
		<h1>Menu</h1>

		@foreach (CretaceousCombo combo in Model.MenuItems.OfType<CretaceousCombo>())
		{
			<h2>Cretaceous Combos</h2>
			break;
		}

		@foreach (CretaceousCombo combo in Model.MenuItems.OfType<CretaceousCombo>())
		{
			<div class="menu-item">
				<h4>@combo.ToString()</h4>
				<table border="1">
					<tr>
						<th>Size</th>
						<th>Price</th>
						<th>Calories</th>
					</tr>
					<tr>
						<td>Small</td>
						<td>$@combo.Price.ToString("0.00")</td>
						<td>@combo.Calories</td>
					</tr>
					<tr>
						<td>Medium</td>
						<td>$@combo.Medium().Price.ToString("0.00")</td>
						<td>@combo.Medium().Calories</td>
					</tr>
					<tr>
						<td>Large</td>
						<td>$@combo.Large().Price.ToString("0.00")</td>
						<td>@combo.Large().Calories</td>
					</tr>
				</table>
				<p>Ingredients:</p>
				<ul>
					@foreach (string ingredient in combo.Ingredients)
					{
						<li>@ingredient</li>
					}
				</ul>
			</div>
		}

		@foreach (Entree entree in Model.MenuItems.OfType<Entree>())
		{
			<h2>Entrees</h2>
			break;
		}

		@foreach (Entree entree in Model.MenuItems.OfType<Entree>())
		{
			<div class="menu-item">
				<h4>@entree.ToString()</h4>
				<p>Price: $@entree.Price.ToString("0.00")</p>
				<p>Calories: @entree.Calories</p>
				<p>Ingredients:</p>
				<ul>
					@foreach (string ingredient in entree.Ingredients)
					{
						<li>@ingredient</li>
					}
				</ul>
			</div>
		}

		@foreach (Side side in Model.MenuItems.OfType<Side>())
		{
			<h2>Sides</h2>
			break;
		}

		@foreach (Side side in Model.MenuItems.OfType<Side>())
		{
			<div class="menu-item">
				<h4>@side.ToString().Substring(side.ToString().IndexOf(" "))</h4>
				<table border="1">
					<tr>
						<th>Size</th>
						<th>Price</th>
						<th>Calories</th>
					</tr>
					<tr>
						<td>Small</td>
						<td>$@side.Price.ToString("0.00")</td>
						<td>@side.Calories</td>
					</tr>
					<tr>
						<td>Medium</td>
						<td>$@side.Medium().Price.ToString("0.00")</td>
						<td>@side.Medium().Calories</td>
					</tr>
					<tr>
						<td>Large</td>
						<td>$@side.Large().Price.ToString("0.00")</td>
						<td>@side.Large().Calories</td>
					</tr>
				</table>
				<p>Ingredients:</p>
				<ul>
					@foreach (string ingredient in side.Ingredients)
					{
						<li>@ingredient</li>
					}
				</ul>
			</div>
		}

		@foreach (Drink drink in Model.MenuItems.OfType<Drink>())
		{
			<h2>Drinks</h2>
			break;
		}

		@foreach (Drink drink in Model.MenuItems.OfType<Drink>())
		{
			<div class="menu-item">
				<h4>@drink.ToString().Substring(drink.ToString().IndexOf(" "))</h4>
				<table border="1">
					<tr>
						<th>Size</th>
						<th>Price</th>
						<th>Calories</th>
					</tr>
					<tr>
						<td>Small</td>
						<td>$@drink.Price.ToString("0.00")</td>
						<td>@drink.Calories</td>
					</tr>
					<tr>
						<td>Medium</td>
						<td>$@drink.Medium().Price.ToString("0.00")</td>
						<td>@drink.Medium().Calories</td>
					</tr>
					<tr>
						<td>Large</td>
						<td>$@drink.Large().Price.ToString("0.00")</td>
						<td>@drink.Large().Calories</td>
					</tr>
				</table>
				<p>Ingredients:</p>
				<ul>
					@foreach (string ingredient in drink.Ingredients)
					{
						<li>@ingredient</li>
					}
				</ul>
			</div>
		}
	</div>

	<div id="searchbox">
		<form method="post">
			<input type="text" name="search" id="search" value="@Model.search" />
			<input type="submit" name="searchAndFilter" id="searchAndFilter" value="Search & Filter" />

			<h3>Menu Category</h3>
			<div class="checkbox-list">
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
					Combo
				</label>
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
					Entree
				</label>
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
					Side
				</label>
				<label>
					<input type="checkbox" class="menu-category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
					Drink
				</label>
			</div>

			<h3>Price</h3>
			<div class="price-constraints">
				<label>
					Min:
					<input type="number" id="minimum-price" min="0" max="50" step="0.01" name="minimumPrice" value="@Model.minimumPrice" />
				</label>
				<label>
					Max:
					<input type="number" id="maximum-price" min="0" max="50" step="0.01" name="maximumPrice" value="@Model.maximumPrice" />
				</label>
			</div>

			<h3>Excluding Ingredients</h3>
			<div class="ingredients-list">
				@foreach (string ingredient in Menu.PossibleIngredients)
				{
					<label>
						<input type="checkbox" class="exclude-ingredient" name="excludeIngredient" value="@ingredient.ToString()" checked="@Model.excludeIngredient.Contains(ingredient.ToString())" />
						@ingredient.ToString()
					</label>
				}
			</div>
		</form>
	</div>
</div>
